In [2]:
import json
import pandas as pd

In [3]:
with open('lol_data.json', 'r') as file:
   mydata = json.load(file)

In [4]:
mydf = pd.DataFrame(mydata)
mydf.shape

(882, 13)

In [5]:
games = mydf[['participants','gameMode']]
games.head()

                                        participants gameMode
0  [{'participantId': 1, 'teamId': 100, 'champion...     ARAM
1  [{'participantId': 1, 'teamId': 100, 'champion...  CLASSIC
2  [{'participantId': 1, 'teamId': 100, 'champion...  CLASSIC
3  [{'participantId': 1, 'teamId': 100, 'champion...  CLASSIC
4  [{'participantId': 1, 'teamId': 100, 'champion...  CLASSIC