In [1]:
from sqlalchemy import create_engine
import pandas as pd

#The database was set up with MySQL and MySQL Workbench

engine = create_engine('mysql+pymysql://root:password@localhost/country_club')

In [2]:
# Check to see if the engine is appropriately set up, 
# then set up the connection to the database

print(engine.table_names())

['Bookings', 'Facilities', 'Members']

In [ ]:
# Q1: Some of the facilities charge a fee to members, but some do not.
# Please list the names of the facilities that do.

# Q1 Answer: 

# Tennis Court 1, Tennis Court 2, Massage Room 1, 
# Massage Room 2, Squash Court

In [ ]:
# Q2: How many facilities do not charge a fee to members? 

# Q2 Answer: 4 facilities

In [8]:
# Q3: How can you produce a list of facilities that charge a fee to members,
# where the fee is less than 20% of the facility's monthly maintenance cost?
# Return the facid, facility name, member cost, and monthly maintenance of the
# facilities in question.

# Q3 Answer:

with engine.connect() as con:
    rs1 = con.execute('SELECT facid, name, membercost, monthlymaintenance FROM Facilities WHERE membercost < 0.2 * monthlymaintenance')
    df1 = pd.DataFrame(rs1.fetchall())
    df1.columns = rs1.keys()

print(df1.head())

   facid             name membercost  monthlymaintenance
0      0   Tennis Court 1        5.0                 200
1      1   Tennis Court 2        5.0                 200
2      2  Badminton Court        0.0                  50
3      3     Table Tennis        0.0                  10
4      4   Massage Room 1        9.9                3000

In [9]:
# Q4: How can you retrieve the details of facilities with ID 1 and 5?
# Write the query without using the OR operator.


# Q4 Answer:

with engine.connect() as con:
    rs2 = con.execute('SELECT * FROM Facilities WHERE (facid between 1 and 5) and facid != 2 and facid != 3 and facid != 4')
    df2 = pd.DataFrame(rs2.fetchall())
    df2.columns = rs2.keys()

print(df2.head())

   facid            name membercost guestcost  initialoutlay  \
0      1  Tennis Court 2        5.0      25.0           8000
1      5  Massage Room 2        9.9      80.0           4000

   monthlymaintenance
0                 200
1                3000

In [10]:
# Q5: How can you produce a list of facilities, with each labelled as
# 'cheap' or 'expensive', depending on if their monthly maintenance cost is
# more than $100? Return the name and monthly maintenance of the facilities
# in question.



# Q5 Answer: 

with engine.connect() as con:
    rs3 = con.execute("SELECT name, monthlymaintenance, CASE WHEN monthlymaintenance > 100 THEN 'expensive' WHEN monthlymaintenance <= 100 THEN 'cheap' END AS this_is FROM Facilities")
    df3 = pd.DataFrame(rs3.fetchall())
    df3.columns = rs3.keys()

print(df3.head())

              name  monthlymaintenance    this_is
0   Tennis Court 1                 200  expensive
1   Tennis Court 2                 200  expensive
2  Badminton Court                  50      cheap
3     Table Tennis                  10      cheap
4   Massage Room 1                3000  expensive

In [11]:
# Q6: You'd like to get the first and last name of the last member(s)
# who signed up. Do not use the LIMIT clause for your solution. 

# Q6 Answer:

with engine.connect() as con:
    rs4 = con.execute("SELECT firstname, surname, concat(firstname,' ', surname) as fullname FROM Members")
    df4 = pd.DataFrame(rs4.fetchall())
    df4.columns = rs4.keys()

print(df4.head())

  firstname   surname         fullname
0     GUEST     GUEST      GUEST GUEST
1    Darren     Smith     Darren Smith
2     Tracy     Smith      Tracy Smith
3       Tim    Rownam       Tim Rownam
4    Janice  Joplette  Janice Joplette

In [5]:
# Q7: How can you produce a list of all members who have used a tennis court?
# Include in your output the name of the court, and the name of the member
# formatted as a single column. Ensure no duplicate data, and order by
# the member name.

# Q7 Answer: 

with engine.connect() as con:
    rs5 = con.execute("SELECT (concat(m.firstname,' ', m.surname)) as fullname, f.name as tennis_court FROM Bookings b JOIN Members m ON b.memid = m.memid JOIN Facilities f ON f.facid = b.facid WHERE (f.facid = 0 OR f.facid = 1) AND m.firstname != 'GUEST' ORDER BY m.firstname")
    df5 = pd.DataFrame(rs5.fetchall())
    df5.columns = rs5.keys()
    
df5 = df5.drop_duplicates('fullname')
print(df5.head())

         fullname    tennis_court
0      Anne Baker  Tennis Court 2
41   Burton Tracy  Tennis Court 1
75   Charles Owen  Tennis Court 2
133  Darren Smith  Tennis Court 2
152   David Jones  Tennis Court 1

In [26]:
# Q8: How can you produce a list of bookings on the day of 2012-09-14 which
# will cost the member (or guest) more than $30? Remember that guests have
# different costs to members (the listed costs are per half-hour 'slot'), and
# the guest user's ID is always 0. Include in your output the name of the
# facility, the name of the member formatted as a single column, and the cost.
# Order by descending cost, and do not use any subqueries.

# Q8 Answer: This query seems to work on https://sql.springboard.com/phpmyadmin/  

with engine.connect() as con:
    rs6 = con.execute("SELECT concat(m.firstname,' ', m.surname) as fullname, f.name, CASE WHEN b.memid = 0 THEN f.guestcost * b.slots ELSE f.membercost * b.slots END AS cost FROM Bookings b JOIN Facilities f ON b.facid = f.facid JOIN Members m ON b.memid = m.memid WHERE (b.starttime LIKE '2012-09-14%') AND CASE WHEN b.memid = 0 THEN f.guestcost * b.slots ELSE f.membercost * b.slots END > 30")
    df6 = pd.DataFrame(rs6.fetchall())
    df6.columns = rs6.keys()

print(df6.head())

ValueError: unsupported format character ''' (0x27) at index 279

In [19]:
# Q9: This time, produce the same result as in Q8, but using a subquery.

# Q9 Answer: This query seems to work on https://sql.springboard.com/phpmyadmin/ 

with engine.connect() as con:
    rs7 = con.execute("SELECT * FROM (SELECT concat(m.firstname,' ', m.surname) as fullname, f.name, CASE WHEN b.memid = 0 THEN f.guestcost * b.slots ELSE f.membercost * b.slots END AS cost FROM Bookings b JOIN Facilities f ON b.facid = f.facid JOIN Members m ON b.memid = m.memid WHERE b.starttime LIKE '2012-09-14%') sub WHERE cost > 30")
    df7 = pd.DataFrame(rs7.fetchall())
    df7.columns = rs7.keys()

print(df7.head())

ValueError: unsupported format character ''' (0x27) at index 289

In [20]:
# Q10: Produce a list of facilities with a total revenue less than 1000.
# The output of facility name and total revenue, sorted by revenue. Remember
# that there's a different cost for guests and members!

# Q10 Answer:

with engine.connect() as con:
    rs8 = con.execute("SELECT f.name, SUM(CASE WHEN b.memid = 0 THEN b.slots * f.guestcost ELSE b.slots * f.membercost END) AS total_rev FROM Bookings b JOIN Facilities f on b.facid = f.facid GROUP BY f.name HAVING total_rev < 1000 ORDER BY total_rev DESC")
    df8 = pd.DataFrame(rs8.fetchall())
    df8.columns = rs8.keys()

print(df8.head())

            name total_rev
0     Pool Table     270.0
1  Snooker Table     240.0
2   Table Tennis     180.0